@use 'base/variables' as v;
@use 'base/mixins' as m;

.seccion-citas{
    padding: 5rem 0;
    display:none;


    .text-center{
        text-align: center;
    }


}

.mostrar {
    display: block;
}

.ocultar{
    display: none;
}

.barra{
    
    margin-bottom: 1.5rem;

    @include m.mediaq(v.$tablet){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    p{
        font-weight: v.$bold;
        font-size: 1.5rem;
    }

    .boton{
        @include m.boton(v.$rojo, v.$blanco);
        margin:1.5rem 0;
    }
}