@use 'base/variables' as v;
@use 'base/mixins' as m;

.listado-servicios{

    display: grid;
    gap: 2rem;
    


    @include m.mediaq(v.$tablet){
        @include m.grid(2, 2rem);
    }
    .servicio{
        background-color: v.$blanco;
        color: v.$azul;
        padding:2rem;
        border-radius: 5px;
        transition: all .2s ease-in;
        text-align: center;

        &.seleccionado{
            background-color: v.$azul;
            p{
                color: v.$blanco;
            }
        }

        &:hover{
            transform: scale(1.1);
        }

        p{
            color: v.$negro;
            margin: 0 0 calc( v.$separacion / 4);
            
        }

        .precio-servicio{
            color: v.$azul;
            font-weight: v.$bold;
            font-size: 2.6rem;
            margin: 0
        }
    }
}